@import './reset.css';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {}

.clear:after{
  content: "";
  clear: both;
  display: table;
}

.intro-banner{
  height: 100%;
  background: #666;
  width: inherit;
  overflow: hidden;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #fff;
}

.avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.intro-content{
  display: grid;
  grid-row-gap: 30px;
  justify-items: center;
}

.intro-content .name{
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.intro-content .hint{
  font-size: 14px;
  margin-top: 5px;
}

.intro-content .hint a{
  color: #fff;
  text-decoration: none;
}

.intro-content .passinate {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.intro-content .passinate .text-rotator{
  display: inline-block;
}

.socialBox{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  justify-items: center;
  grid-auto-rows: min-content;
}

.socialBox .followMe{
  grid-column: 1 / -1;
  color: #fff;
  font-size: 18px;
}

.socialBox .media{
  grid-row-start: 3;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0px 2px 10px 0 #fff, 0.2);
  background: #fff;
  display: grid;
  align-items: center;
  justify-items: center;
}

.media a{
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}

.socialBox .media img{
  width: 50%;
  height: 50%;
}

.content-container{
  height: 100%;
  width: inherit;
  background: #FBFBFB;
}

.content {
  float: left;
  /* width: 100%; calc(100% / 3); */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
}

.content::after{
  content: "";
  height: calc(100% - 40px);
  width: 1px;
  position: absolute;
  background: #ddd;
  right: 0;
  top: 20px;
}

.content:last-child::after{
  content: none;
}

.center-align-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content > h2{
  font-size: 20px;
}

.content ul {
  margin-top: 10px;
}

.skills li{
  float: left;
  height: 150px;
  width: 150px;
  box-shadow: 0 1px 1px -1px #777;
  margin: 5px;
  background: #fff;
  transition: all 0.2s linear;
  text-align: center;
  position: relative;
}

.skills li:hover{
  /* box-shadow: 0 10px 6px -6px #777; */
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

/* .skills li:nth-child(3n + 1){
  margin-left: 0px;
}

.skills li:nth-child(3n + 3){
  margin-right: 0px;
} */

.skills li h3,
.skills li .ratings{
  height: 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 20px;
}

.skills li h3{
  top: 0;
  color: #009ff9;
  /* background: rgba(0, 0, 0, 0.5); */
}

.skills li .ratings{
  bottom: 0;
  color: rgba(0, 0, 0, 0.3);
}

.skills li img{
  height: 100%;
  width: 100%;
  transform: scale(0.6);
}

.skills li:hover img{
  transition: all 3s linear;
  transform: scale(0.7);
}

.skills li h3{
  display: none;
}

.skills li:hover h3{
  display: block;
}

/* .skills li:hover .ratings{
  color: #fff;
  background-color: rgba(0,0,0,0.5);
} */

.content.activities li,
.content.hobbies li{
  margin: 10px 0px;
}

.checked {
  color: orange;
}

.draftbadge{
  position: absolute;
  right: 0;
  top: 65px;
  height: 40px;
  line-height: 40px;
  background: lightyellow;
  color: #333;
  transform: rotate(45deg) translate(13px, -50px);
  width: 205px;
  text-align: center;
  font-weight: bold;
}