@import './reset.css';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: lightyellow;
}

.clear:after{
  content: "";
  clear: both;
  display: table;
}

.intro-banner{
  height: 300px;
  background: #333;
  width: inherit;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  position: relative;
}

.banner-content {
  margin: 75px auto;
  position: relative;
  left: 50%;
  transform: translateX(-25%);
}

.banner-content .avatar{
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
}

.banner-content .avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.banner-content .intro-content{
  float: left;
  margin-left: 30px;
  height: 150px;
}

.banner-content .intro-content .name{
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.banner-content .intro-content .hint{
  font-size: 14px;
  margin-top: 5px;
}

.banner-content .intro-content .hint a{
  color: #fff;
  text-decoration: none;
}

.intro-content .passinate {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.intro-content .passinate .text-rotator{
  display: inline-block;
}

.content-container{
  height: calc(100% - 300px);
  width: inherit;
  background: #FBFBFB;
}

.content {
  float: left;
  /* width: 100%; calc(100% / 3); */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
}

.content::after{
  content: "";
  height: calc(100% - 40px);
  width: 1px;
  position: absolute;
  background: #ddd;
  right: 0;
  top: 20px;
}

.content:last-child::after{
  content: none;
}

.center-align-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content > h2{
  font-size: 20px;
}

.content ul {
  margin-top: 10px;
}

.skills li{
  float: left;
  height: 150px;
  width: 150px;
  box-shadow: 0 1px 1px -1px #777;
  margin: 5px;
  background: #fff;
  transition: all 0.2s linear;
  text-align: center;
  position: relative;
}

.skills li:hover{
  /* box-shadow: 0 10px 6px -6px #777; */
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

/* .skills li:nth-child(3n + 1){
  margin-left: 0px;
}

.skills li:nth-child(3n + 3){
  margin-right: 0px;
} */

.skills li h3,
.skills li .ratings{
  height: 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 20px;
}

.skills li h3{
  top: 0;
  color: #009ff9;
  /* background: rgba(0, 0, 0, 0.5); */
}

.skills li .ratings{
  bottom: 0;
  color: rgba(0, 0, 0, 0.3);
}

.skills li img{
  height: 100%;
  width: 100%;
  transform: scale(0.6);
}

.skills li:hover img{
  transition: all 3s linear;
  transform: scale(0.7);
}

.skills li h3{
  display: none;
}

.skills li:hover h3{
  display: block;
}

/* .skills li:hover .ratings{
  color: #fff;
  background-color: rgba(0,0,0,0.5);
} */

.content.activities li,
.content.hobbies li{
  margin: 10px 0px;
}

.checked {
  color: orange;
}

.draftbadge{
  position: absolute;
  right: 0;
  top: 65px;
  height: 40px;
  line-height: 40px;
  background: lightyellow;
  color: #333;
  transform: rotate(45deg) translate(13px, -50px);
  width: 205px;
  text-align: center;
  font-weight: bold;
}